{% extends 'base.html' %}
{% block content %}
  {% if addresses %}
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2 class="mb-4"> Your Addresses</h2>
          <ul class="list-group mb-4">
            {% for address in addresses %}
              <li class="list-group-item">
                <strong>{{ 'Permanent Address' if address.is_permanent else 'Current Address' }}</strong><br>
                {{ address.first_line }}<br>
                {% if address.second_line %}{{ address.second_line }}<br>{% endif %}
                {{ address.landmark }}<br>
                {{ address.state }}, {{ address.country }} - {{ address.pin_code }} <br>
                <a href="{{ url_for('user.edit_address', address_id=address.id) }}">Edit</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2 class="mb-4"> No Addresses Found</h2>
          <p>You have not added any addresses yet.</p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if not addresses or addresses|length < 2 %}
    <a href="{{ url_for('user.add_address') }}" class="btn btn-primary">Add Address</a>
  {% endif %}
{% endblock %}
