{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
	<h2 class="mb-4">User Dashboard</h2>
	<div class="row">
    <div class="col-md-6 mb-3">
			<div class="card h-100">
				<div class="card-body d-flex flex-column justify-content-between">
					<h5 class="card-title">Relatives Details</h5>
					<p class="card-text">Manage your relatives</p>
					<a href="{{ url_for('user.display_relatives') }}" class="btn btn-primary mt-auto">Manage Relationships</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 mb-3">
			<div class="card h-100">
				<div class="card-body d-flex flex-column justify-content-between">
					<h5 class="card-title">Profile</h5>
					<p class="card-text">View and update your personal profile information.</p>
					<a href="{{ url_for('user.profile') }}" class="btn btn-primary mt-auto">Go to Profile</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 mb-3">
			<div class="card h-100">
				<div class="card-body d-flex flex-column justify-content-between">
					<h5 class="card-title">Addresses</h5>
					<p class="card-text">Manage your permanent and current addresses.</p>
					<a href="{{ url_for('user.address') }}" class="btn btn-primary mt-auto">Manage Addresses</a>
				</div>
			</div>
		</div>
    <div class="col-md-6 mb-3">
			<div class="card h-100">
				<div class="card-body d-flex flex-column justify-content-between">
					<h5 class="card-title">Important Dates</h5>
					<p class="card-text">Manage your important dates.</p>
					<a href="{{ url_for('user.display_important_dates') }}" class="btn btn-primary mt-auto">Manage Important Dates</a>
				</div>
			</div>
		</div>
    <div class="col-md-6 mb-3">
			<div class="card h-100">
				<div class="card-body d-flex flex-column justify-content-between">
					<h5 class="card-title">Contact Details</h5>
					<p class="card-text">Manage your contact details</p>
					<a href="{{ url_for('user.display_contact_details') }}" class="btn btn-primary mt-auto">Manage Important Dates</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
