{% extends 'base.html' %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="mb-4">Profile</h2>
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="form-group mb-3">
            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control", placeholder="First Name") }}
          </div>
          <div class="form-group mb-3">
            {{ form.middle_name.label(class="form-label") }}
            {{ form.middle_name(class="form-control", placeholder="Middle Name") }}
          </div>
          <div class="form-group mb-3">
            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control", placeholder="Last Name") }}
          </div>
          <div class="form-group mb-3">
            {{ form.gender.label(class="form-label") }}
            {{ form.gender(class="form-select") }}
          </div>
          <div class="form-group">
            {{ form.submit(class="btn btn-primary w-100") }}
          </div>
        </form>
        <hr>
        <h4>User Info</h4>
        <ul class="list-group">
          <li class="list-group-item"><strong>Username:</strong> {{ user.username }}</li>
          <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}